/* knockthrough.js
 (c) Proactive Logic Consulting, Inc - http://proactivelogic.com/
 License: MIT (http://www.opensource.org/licenses/mit-license.php)
*/

/* nodes with binding errors.
    !important is used to override any existing styles
    so that you can see all errors    
*/

/* toolbar */

#kt-toolbar {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #f7f7f7;
    padding: 5px;
    bottom: 0px;
    left: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
}
#kt-logo {
    margin: 10px 0 0 0;
    
    color: #666;
    
}
    #kt-logo a
    {
        color: #2b40b7;
    }

    #kt-dump-model-cont {
        padding: 5px;
        background: #ddd;
        float: right;
        margin-right: 10px;
    }

    #kt-dump-model-link {
        margin-left: 10px;
    }

/* visible element debugging */
.kt-hidden-by-visible-binding {
    background: #fff8d9 !important;
    border: solid 2px #ffefad !important;
    cursor: pointer;
    margin: 5px; /* space out error nodes  */
    min-width: 50px; /* make sure they are visible */
    min-height: 14px;
    display: inline-block;
} 



/* errors */

.kt-error-node {
    background: #fadedd !important;
    border: solid 2px #dc241f !important;
    cursor: pointer;
    margin: 5px; /* space out error nodes  */
    min-width: 50px; /* make sure they are visible */
    min-height: 14px;
    display: inline-block;
}

.kt-error-node.selected { background: #f4b9b7 !important; }

/* the hover error display */

.kt-error-container {
    position: absolute;
    background: #fff;
    display: inline-block;
    padding: 10px;
    z-index: 9999;
    border-radius: 10px;
    border: solid 3px #ddd;
    overflow-y: scroll;
}

.kt-error-message {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.6em;
}

.kt-error-context-dump {
    font-family: Helvetica, Arial, sans-serif;
    clear: both;
    margin-top: 10px;
    background: #f7f7f7;
    padding: 5px;
    
    
}

.kt-error-close-btn {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #666;
    font-weight: bold;
    margin: 0 0 5px 5px;
    float: right;
    cursor: pointer;
}

/* json */

.kt-error-context-dump pre {
    background: transparent;
    font-size: 12px;
    line-height: 1.6em;
    border: none;
}